

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Une erreur est survenue : {{ status_text }}</title>
        {% block stylesheets %}
            {% stylesheets  filter='css_url_rewrite, ?scssphp' '@LPReservationBundle/Resources/public/css/erreur.css'  %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <h1>Oops! Une erreur est survenue</h1>
        <h2>Le serveur a retourné une "{{ status_code }} {{ status_text }}".</h2>

        <div>
            <p>Quelque chose est cassé. S'il vous plaît laissez-nous savoir ce que vous faisiez quand cette erreur s'est produite.<br/>
            Nous allons le réparer dès que possible. Désolé pour la gêne occasionnée.</p>
        </div>
    </body>
</html>
