{% extends "LPCoreBundle::layout.html.twig" %}

{% block body %}
    <body>
        <h1>Oops! Une erreur est survenue</h1>
        <h2>Le serveur a retourné une "{{ status_code }} {{ status_text }}".</h2>

        <div>
            <p>Quelque chose est cassé. S'il vous plaît laissez-nous savoir ce que vous faisiez quand cette erreur s'est produite.<br/>
            Nous allons le réparer dès que possible. Désolé pour la gêne occasionnée.</p>
        </div>
        <p><a href="{{ path('lp_core_homepage') }}" class=" center-block btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>PAGE D'ACCUEIL</a></p>
    </body>
{% endblock %}
