{% extends "LPCoreBundle::layout.html.twig" %}

{% block body %}
<div class="well">
    <h1>LES VISITES GUIDEES</h1>
    <p>Les visites guidées du Louvre sont conduites par les conférenciers des Musées Nationaux. Que vous veniez pour la première fois ou que vous soyez un habitué, trouvez la visite qui vous correspond, parmi le large choix de thématiques qui vous est proposé. 
La visite Chefs d’œuvre du Louvre vous permet de découvrir les œuvres les plus célèbres du musée.
Vous pouvez également explorer le musée autour d'un thème particulier de l’histoire de l’art, d'une période, d'un genre, d'un artiste, d'une collection, ou les expositions temporaires grâce aux  visites conférences.
Si vous souhaitez approfondir vos connaissances autour d’un sujet, des cycles de visites sont également proposés en 3 ou 5 séances.
Des activités spécifiques sont également proposées aux visiteurs en situation de handicap en lien avec l'actualité des collections ou des expositions temporaires : visites decriptives et tactiles, visites en langue des signes français (LSF), visites en lecture labiale (LL).</p>
</div>
<div>
	{% for message in app.session.flashbag.get('info') %}
	<p>Message flash : {{ message }}</p>
	{% endfor %}
</div>

{% endblock %}
